
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=stojan_shop
NEXT_PUBLIC_API_URL=https://server-reactapp.ngrok.app

ALLEGRO_CLIENT_ID=
ALLEGRO_CLIENT_SECRET=
ALLEGRO_REDIRECT_URI=https://app-reactapp.ngrok.app/api/allegro/callback
ALLEGRO_SELLER_ID=



ALLEGRO_API_URL=https://api.allegro.pl
ALLEGRO_AUTH_URL=https://allegro.pl/auth/oauth

OLX_CLIENT_ID=202469
OLX_CLIENT_SECRET=
OLX_REDIRECT_URI=https://server-reactapp.ngrok.app/api/olx/auth/callback

OLX_CITY_ID=twoje_miasto_id
OLX_CONTACT_PHONE=twoj_numer_telefonu

API_URL=https://server-reactapp.ngrok.app
STRIPE_WEBHOOK_SECRET=
NODE_ENV=development
PORT=8080
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRE=30d
JWT_EXPIRES_IN=30d
JWT_COOKIE_EXPIRE=30
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
NEXT_AWS_BUCKET_NAME=stojan
AWS_REGION=eu-north-1
RECAPTCHA_SECRET_KEY=
RECAPTCHA_SITE_KEY=
SMTP_HOST=email-smtp.us-east-1.amazonaws.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=stojan@silniki-elektryczne.com.pl
SMTP_EMAIL=kontakt@adcopy.pl
ADMIN_EMAIL=kontakt@adcopy.pl
SMTP_PASS=


ANTHROPIC_API_KEY=
AWS_BUCKET_NAME=piszemy.com.pl

NEXT_PUBLIC_APP_URL=https://app-reactapp.ngrok.app


FRONTEND_URL=https://app-reactapp.ngrok.app

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=